.app-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 50px;
  line-height: 50px;
  box-shadow: 0px 2px 9px 0px rgba(60, 69, 81, 0.06);
  padding: 0 20px;
  margin-bottom: 8px;

  .app-header-menu {
    overflow-x: auto;
    flex: 1;

    .ant-menu-horizontal {
      border-bottom-color: transparent;
      line-height: 48px;

      .anticon-down {
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }

  .app-user {
    .ant-avatar {
      margin-right: 10px;
    }
  }
}
