.field-inline {
  display: inline-block;
  width: 200px;
  padding-right: 11px;
}

.field-block {
  margin-bottom: 12px;
  flex: 2;
}

.form-item {
  width: 608px;
  display: flex;
  justify-content: flex-start;
}

.form-item-label {
  flex: 1;
  line-height: 32px;
  text-align: right;
  margin-right: 8px;
}

.form-item-label-block {
  display: block;
  text-align: left;
  line-height: 16px;
  padding-bottom: 8px;
}

.form-item-inline {
  display: inline-block;
  width: auto;
  margin-bottom: 12px;
}
